In [1]:
import pandas as pd

In [2]:
pessoas = pd.read_excel('casodeestudo.xlsx', sheet_name='pessoas')
covid = pd.read_excel('casodeestudo.xlsx', sheet_name='registros_covid')
pessoas

                id        idade
count  1000.000000  1000.000000
mean    500.500000    33.909000
std     288.819436     9.459821
min       1.000000    18.000000
25%     250.750000    26.000000
50%     500.500000    34.000000
75%     750.250000    42.000000
max    1000.000000    50.000000