In [1]:
import pandas as pd

In [2]:
pessoas = pd.read_excel('casodeestudo.xlsx', sheet_name='pessoas')
covid = pd.read_excel('casodeestudo.xlsx', sheet_name='registros_covid')
pessoas

       id               nome sexo  idade
0       1      Lavinia Sousa    F     18
1       2       Caio Pereira    M     28
2       3      Júlio Azevedo    M     32
3       4    Sarah Goncalves    F     49
4       5  Gabrielle Martins    F     27
..    ...                ...  ...    ...
995   996     Ágatha Ribeiro    F     31
996   997     Laura Oliveira    F     23
997   998      Lara Oliveira    F     24
998   999       Julian Cunha    M     43
999  1000    Gustavo Barbosa    M     23

[1000 rows x 4 columns]

In [3]:
pessoas[pessoas.idade>40] #Filtrando em pessoas com idade maior que 40 anos

KeyError: "None of [Int64Index([18, 28, 32, 49, 27, 31, 22, 37, 50, 31,\n            ...\n            47, 49, 22, 34, 33, 31, 23, 24, 43, 23],\n           dtype='int64', length=1000)] are in the [columns]"

In [ ]:
pessoas.id[pessoas.idade>40].count() #Filtrando para a coluna id a quantidade de dados de pesssoas com idade > que 40

294

In [ ]:
pessoas.nome[pessoas.idade==48] # Filtrando em pessoas o nome e com idade = 48

24       Otávio Carvalho
70           Kauê Araujo
90          Nicole Sousa
91          Danilo Silva
132         Carlos Souza
139         Leonor Sousa
209        Carla Martins
227         Kauê Correia
257    Gabrielle Barbosa
292          Luís Barros
326           João Sousa
334        Vitor Azevedo
357       Leila Carvalho
381          Luana Silva
391     Miguel Rodrigues
494           Vitór Lima
537       Isabela Barros
557       Mariana Castro
618        Otávio Santos
677       Bruno Oliveira
712           José Souza
826         Alex Almeida
849        Vitória Rocha
927         Julian Sousa
946          Victor Lima
948            Luís Melo
957         Aline Santos
Name: nome, dtype: object

In [ ]:
pessoas.idade[pessoas.sexo=='F'].mean() # Filtrado a media das idades de pessoas do sexo feminino

33.7914979757085

In [ ]:
pessoas[pessoas.nome.str[0]=='A'] #Filtrando quando as pessoas com o nome que comecem com a letra A

      id              nome sexo  idade
10    11         Ana Cunha    F     30
17    18   Antônio Azevedo    M     36
32    33     Antônio Gomes    M     35
33    34      Arthur Alves    M     46
43    44  André Cavalcanti    M     43
..   ...               ...  ...    ...
950  951    Aline Oliveira    F     31
951  952  Amanda Fernandes    F     23
952  953        André Lima    M     39
957  958      Aline Santos    F     48
985  986        Alice Melo    F     22

[70 rows x 4 columns]

In [ ]:
pessoas[pessoas.nome.str[0:3]=='Ana']  #Filtrando os dados das pessoas com o nome Ana

      id           nome sexo  idade
10    11      Ana Cunha    F     30
162  163    Ana Pereira    F     35
435  436    Ana Correia    F     45
670  671  Ana Goncalves    F     46
738  739      Ana Silva    F     43
774  775    Ana Barbosa    F     35